<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tasks</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header class="app-header">
    <div class="header-container">
        <h1>Task Reminder Application</h1>
        <div class="header-actions">
            <a th:href="@{/api/tasks/add}" class="btn btn-primary">+ Add Task</a>
        </div>
    </div>
</header>

<div class="page-wrapper">
    <div class="card">

        <h2>All Tasks</h2>

        <!-- Filters -->
        <form class="filters" th:action="@{/api/tasks}" method="get">
            <label>Status:</label>
            <select name="status" class="filter-input">
                <option value="">All</option>
                <option th:each="s : ${T(com.tracker.app.enums.TaskStatus).values()}"
                        th:value="${s}"
                        th:text="${#strings.capitalize(#strings.replace(s.name().toLowerCase(),'_',' '))}">
                </option>
            </select>

            <label>Priority:</label>
            <select name="priority" class="filter-input">
                <option value="">All</option>
                <option th:each="p : ${T(com.tracker.app.enums.TaskPriority).values()}"
                        th:value="${p}"
                        th:text="${#strings.capitalize(p.name().toLowerCase())}">
                </option>
            </select>
            <label>Title:</label>
            <input type="text" name="keyword" placeholder="Search title"
                   class="filter-input" th:value="${param.keyword}">

            <button class="btn btn-clear">Filter</button>
            <a th:href="@{/api/tasks}" class="btn btn-clear">Clear</a>
            <div class="sort-group">
                <span class="sort-label">Sort:</span>

                <a th:href="@{/api/tasks(
                        sort='dueDate',
                    status=${param.status},
                    priority=${param.priority},
                    keyword=${param.keyword}
                    )}"
                    class="sort-link">
                    Due Date
                </a>

                <a th:href="@{/api/tasks(
                    sort='priority',
                    status=${param.status},
                    priority=${param.priority},
                    keyword=${param.keyword}
                    )}"
                    class="sort-link">
                    Priority
                </a>

                <a th:href="@{/api/tasks(
                    sort='title',
                    status=${param.status},
                    priority=${param.priority},
                    keyword=${param.keyword}
                    )}"
                    class="sort-link">
                    Title
                </a>
            </div>


        </form>

        <!-- Table -->
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Created At</th>
                <th>Completed At</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.dueDate}"></td>

                <td>
                    <span class="status"
                          th:text="${#strings.capitalize(#strings.replace(task.status.name().toLowerCase(),'_',' '))}"
                          th:classappend="${task.status.name()=='DONE'} ? ' status-done':' status-pending'">
                    </span>
                </td>

                <td>
                    <span class="badge"
                          th:text="${#strings.capitalize(task.priority.name().toLowerCase())}"
                          th:classappend="' badge-' + ${task.priority.name().toLowerCase()}">
                    </span>
                </td>

                <td th:text="${#temporals.format(task.createdAt,'dd-MM-yyyy HH:mm')}"></td>

                <td>
                    <span th:if="${task.completedAt != null}"
                          th:text="${#temporals.format(task.completedAt,'dd-MM-yyyy HH:mm')}"></span>
                    <span th:if="${task.completedAt == null}">—</span>
                </td>

                <td class="actions">

                    <!-- View -->
                    <a th:href="@{/api/tasks/view/{id}(id=${task.id})}"
                       class="action-btn">
                        View
                    </a>

                    <!-- Edit -->
                    <a th:href="@{/api/tasks/edit/{id}(id=${task.id})}"
                       class="action-btn">
                        Edit
                    </a>

                    <!-- Delete -->
                    <a th:href="@{/api/tasks/delete/{id}(id=${task.id})}"
                       class="action-btn danger"
                       onclick="return confirm('Delete this task?')">
                        Delete
                    </a>

                    <!-- Mark Done (only if NOT DONE) -->
                    <a th:if="${task.status != T(com.tracker.app.enums.TaskStatus).DONE}"
                       th:href="@{/api/tasks/markdone/{id}(id=${task.id})}"
                       class="icon-btn"
                       title="Mark as Done"
                       onclick="return confirm('Mark this task as DONE?')">

                        <svg viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 6L9 17l-5-5"
                                  stroke="#2e8b57"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </a>

                </td>

            </tr>
            </tbody>
            <tr th:if="${#lists.isEmpty(tasks)}">
                <td colspan="9" style="text-align:center; padding:20px;">
                    No tasks found.
                </td>
            </tr>

        </table>

        <!-- Pagination -->
        <div class="pagination" th:if="${totalPages > 1}">
            <a class="page-btn"
               th:classappend="${currentPage==0}? ' disabled':''"
               th:href="@{/api/tasks(page=${currentPage-1})}">‹ Prev</a>

            <a th:each="i : ${#numbers.sequence(0,totalPages-1)}"
               th:href="@{/api/tasks(page=${i})}"
               th:text="${i+1}"
               class="page-number"
               th:classappend="${i==currentPage}? ' active':''"></a>

            <a class="page-btn"
               th:classappend="${currentPage==totalPages-1}? ' disabled':''"
               th:href="@{/api/tasks(page=${currentPage+1})}">Next ›</a>
        </div>

    </div>
</div>

<footer class="footer">
    © 2025 Task Reminder Application — Created by <strong>Santhosh</strong>
</footer>

</body>
</html>
